
# Created by https://www.gitignore.io/api/dotnetcore
# Edit at https://www.gitignore.io/?templates=dotnetcore

### DotnetCore ###
# .NET Core build folders
/bin
/obj


/__trash__
.vscode
.vs
.fonts
*.sln
__*
*_old.*
.editorconfig
/Schedulebot.csproj.user
/Properties/PublishProfiles
